@import "tailwindcss";
@import "tailwindcss";
@plugin '../../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --font-ruigslay: var(--font-my-custom);
  --font-heathergreen: var(--font-heathergreen);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Verdana, Geneva, sans-serif;
}

.react-colorful {
  width: 200px;
  height: 200px;
}

.react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}

.react-colorful__hue {
  height: 24px;
  border-radius: 0 0 4px 4px;
}

.react-colorful__pointer {
  width: 20px;
  height: 20px;
}

